.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.about-body {
    display: flex;
    padding: 30px;
    flex-direction: row;
    font-weight: 200;
}

.profile-pic{
    width: 700px;
    height: 600px;
    border-radius:50px;
    object-fit: cover;
   }