/* .about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
} */

@keyframes slideInFromRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .title-cont {
    position: relative;
    text-align: center;
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
    padding-top: 100px;
    background: transparent;
  
   }
  
   .profile-pic{
    width: 700px;
    height: 600px;
    border-radius:50px;
    object-fit: cover;
    
    
   }
  
   .name {
    padding: .5em;
    justify-items: center;
    animation: 2s ease-out 0s 1 slideInFromRight;
    font-weight: 400;
    
    background: transparent;
  
   }
  
   
   .title{
    animation: 1.6s ease-out 0s 1 slideInFromRight;
    font-weight: 400;
    position: relative;

    background: transparent;
   }

 .about-body {
    /* display: flex; */
    padding: 20px;
    flex-direction: row;
    font-weight: 200;
} 

.contact {
    font-weight: 400;
    flex-direction: row;
    
}

.contact-title {
    font-weight: 800;

}

