main {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background);
  color: var(--type);
 }

 h1 {
  font-family: 'Times New Roman', Times, serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }