main {
  font-family:"Segoe UI";
  /* background-color: var(--background); */
  color: var(--type);
  display: flex;
  flex-direction: row;
 }

 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--background);
  color: var(--type);
 }

 .title-cont {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction:column;

 }

 .profile-pic{
  width: 700px;
  height: 600px;
  border-radius:50px;
  object-fit: cover;
  position: inherit;
 }

 @keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

header {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromTop;
  
  background: #333;
  padding: 30px;
}

 .name {
  padding: 1em;
  justify-items: center;
  animation: 1s ease-out 0s 1 slideInFromTop;
  font-weight: 400;
  position: relative;
 }
 
 .title{

  /* justify-items: center; */
  /* padding-right: 20px; */
  /* margin-bottom: 4em; */
  animation: 1s ease-out 0s 1 slideInFromTop;
  font-weight: 400;
  position: relative;
 }

