main {
  font-family:"Segoe UI";
  /* background-color: var(--background); */
  color: var(--type);
  display: flex;
  flex-direction: row;
 }

 .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--background);
  color: var(--type);
 }

 .title-cont {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction:column;

 }

 .name {
  padding: 2em;
  justify-items: center;
 }
 
 .title{

  justify-items: center;
  padding: 20px;
 }

