@import "bootstrap/dist/css/bootstrap.min.css";

:root{
  --secondary: #006d77ff;
--primary: rgb(0, 255, 229);
--type: #edf6f9ff;
--background: rgb(28, 28, 28);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    

}
