@keyframes slideInFromRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.general-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 300;
  padding-top: 2em;
  color: var(--type);
  
}

.projects-title {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: larger;
  color: var(--type);

 }

.card-title {
  font-weight: 800;
  padding-top: 2em;
  padding-left: 1em;
}

.or1-card, .laura-card, .collectus-card, .responsive-card {
  display: flex;
  width: 20em;
  height: 30em;
  border: none!important;
}

.port-img {
          width: 200px;
          height: 200px;
          object-fit:cover;
          display: flex;
          border-radius: 10px;
          flex-direction: row;
}

.button {
  background-color: var(--primary);
  width: 100px;
  cursor: pointer;
  background: transparent;
  color: var(--primary);
  position: relative;
  z-index: 1;
  background: transparent;
  color: var(--primary);
  font-size: 14px;
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
 padding: .5vh;
 margin: 5px;
 display: hidden;
 /* outline: none;
 &.outline {
    
     a {
         text-decoration: none;
     } */
 }

 .button:hover{
  background: var(--primary);
  color: var(--background);
  cursor: pointer;

 }

 .text-description {
  padding-top:30px;
  padding-bottom: 30px;
  margin: 0 10px 0 10px;
  
 }



  
