@keyframes animate__zoomIn {
  0% {
    transform: scale(1, 1);
    
  } 50% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1, 1);
    
  }
}

.general-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  background-color: var(--background);
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 200;
  padding-top: 2em;
  padding-bottom: 4em;

  /* margin-bottom: 8em; */
  background: transparent;
  color: var(--type);
  background-color: var(--background);
  
}

.projects-title {
  padding-top: 100px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 2rem;
  border-bottom: solid var(--primary);
  color: var(--type);
  letter-spacing: 0.1ch;

 }

.card-title {
  font-weight: 800;
  padding-top: 2em;
  padding-left: .5em;
}

.or1-card, .laura-card, .collectus-card, .responsive-card, .laconic-card {
  display: flex;
  width: 15em;
  height: 20em;
  border: none!important;
  background-color: var(--background);
  /* background: transparent; */
  margin-bottom: 15em;
  /* margin: 100px; */
}

.card-features {
  opacity: 0;
}

.card-features:hover {
  opacity: 1;
  transition: .4s;
}



.or1-card:hover, .laura-card:hover, .collectus-card:hover, .responsive-card:hover, .laconic-card:hover {
  /* opacity: 1; */
    background: transparent;
  color: var(--primary);
  position: relative;
  z-index: 2;
  color: var(--type);
  border-color: none!important;
  /* border-style: solid; */
  border-width: 2px;
  border-radius: 10px;
  transition: all 0.2s linear;
  padding: .5vh;
  cursor: pointer;
}

.port-img {
          width: 200px;
          height: 200px;
          object-fit:cover;
          border-radius: 10px;
  }

  




.button {
  background-color: var(--primary);
  width: 75px;
  cursor: pointer;
  background: transparent;
  color: var(--primary);
  position: relative;
  z-index: 1;
  background: transparent;
  color: var(--primary);
  font-size: 14px;
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
 padding: .5vh;
 margin: 5px;
 display: hidden;
 /* outline: none;
 &.outline {
    
     a {
         text-decoration: none;
     } */
 }

 .button:hover{
  background: var(--primary);
  color: var(--background);
  cursor: pointer;

 }

 .text-description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
  /* padding-top:30px; */
  /* padding-bottom: 3ch; */
  
  
 }



  
