* {
  background-color: var(--background);
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 300;
  padding-top: 5em;
  display: none;
  
}

.card-title {
  font-weight: 800;
  padding-top: 2em;
  padding-left: 2em;
}

/* h1 {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
} */
/* 
.carouselCaption {
  height: 200px;
  background-color: white;
  top: 100px;
} */

.or1-card {
  display: flex;
  width: 20em;
}

.collectus-card {
  width: 20em;
  
 
}

.laura-card {
  width: 20em;
}

.responsive-card {
  width: 20em;
  
}



.port-img {
          width: 200px;
          height: 200px;
          object-fit:cover;
          display: flex;
          border-radius: 10px;
          flex-direction: row;
}

.button {
  background-color: var(--primary);
  width: 100px;
  cursor: pointer;
  background: transparent;
  color: var(--primary);
  position: relative;
  z-index: 3;
  background: transparent;
  color: var(--primary);
  font-size: 14px;
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
 padding: .5vh;
 margin: 5px;
 /* outline: none;
 &.outline {
    
     a {
         text-decoration: none;
     } */
 }

 .button:hover{
  background: var(--primary);
  color: var(--background)
 }

 .text-description {
  padding-top:30px;
  padding-bottom: 30px;
  margin: 0 10px 0 10px;
  
 }



  
