.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume {
    display: flex;
    align-self: center;
    background: transparent;
    padding: 50px;
}

.resume-title {
    padding-top: 50px;
    font-weight: 800;
    font-size: larger;
    color: var(--type);
  
   }