.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.languages-title {
    padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: larger;
  color: var(--type)!important;
  border-bottom: solid var(--primary);
}

.js-icon, .python-icon, .typescript-icon, .react-icon, .next-icon, .node-icon, .html-icon, .css-icon {
    width: 50px;
    height: 50px;
    margin: 3em;
}

.js-icon:hover, .python-icon:hover, .typescript-icon:hover, .react-icon:hover, .next-icon:hover, .node-icon:hover, .html-icon:hover, .css-icon:hover {
    background: transparent;
  color: var(--primary);
  position: relative;
  z-index: 2;
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  transition: all 0.2s linear;
  padding: .5vh;
  /* padding: 20px 20px; */
  /* text-transform: uppercase; */
  
 
 /* margin: 5px; */
}
