.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.languages-title {
    padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: larger;
  color: var(--type)!important;
}

.js-icon, .python-icon, .typescript-icon, .react-icon, .next-icon, .node-icon, .html-icon, .css-icon {
    width: 50px;
    height: 50px;
    margin: 20px;
}

